# Node modules
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# SSH keys (evita subir por engano)
*.pub
*.pem
*.key
.ssh/
id_rsa*
id_ecdsa*
id_ed25519*

# Editor folders
.vscode/
.idea/

# Misc
*.tgz
*.log
